@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700,900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

.btn {
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
}
.page.content {
  flex: 1 1 auto;
}

.hero {
  position: relative;
  background: url("../img/hero/background.png") no-repeat;
  background-size: 100% 100%;
  height: 970px;
  color: #262626;
}
.hero .container {
  padding: 250px 20px;
}
.hero__content {
  max-width: 370px;
}
.hero__title {
  font-size: 60px;
  font-weight: 900;
  margin: 0 0 30px 0;
}
.hero__desc {
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin: 0 0 30px 0;
}
.hero__btn {
  background: #ff6033;
}
.hero__scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
