.hero {
    position: relative;
    background: url("../img/hero/background.png") no-repeat;
    background-size: 100% 100%;
    height: 970px;
    color: $black;

    .container {
        padding: 250px 20px;
    }

    &__content {
        max-width: 370px;
    }

    &__title {
        font-size: 60px;
        font-weight: 900;
        margin: 0 0 30px 0;
    }

    &__desc {
        @include desc-text;
        margin: 0 0 30px 0;
    }

    &__btn {
        background: #ff6033;
    }

    &__scroll {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}